# =========================
# Windows detritus
# =========================

Thumbs.db
ehthumbs.db
Desktop.ini


# =========================
# OS X detritus
# =========================

.DS_Store


# =========================
# RubyMine
# =========================

.idea/
