[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset' --abbrev-commit --date=relative
[user]
	name = Alistair McKinnell
  useconfigonly = true
	email = alistairm@nulogy.com
[push]
	autoSetupRemote = true
	default = current
[core]
	attributesfile = /Users/alistairm/.gitattributes
  autocrlf = input
	commentchar = $
	excludesfile = /Users/alistairm/.gitignore
	fsmonitor = true
	hooksPath = /Users/alistairm/.git-templates/hooks
	pager = less -R --tabs=2 -RFX
	untrackedCache = true
[remote "origin"]
	push = HEAD
[branch]
	autosetupmerge = true
	sort = -committerdate
[diff]
	algorithm = histogram
	colorMoved = plain
  compactionheuristic = true
  mnemonicPrefix = true
	renameLimit = 10000
	renames = true
[color]
	branch = auto
	diff = auto
	ui = true
[column]
 	ui = auto
[fetch]
	all = true
	prune = true
[credential]
	helper = osxkeychain
[commit]
	template = /Users/alistairm/.stCommitMsg
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[help]
  autocorrect = prompt
[pull]
	ff = only
[merge "no-assets"]
	driver = true
[init]
	defaultBranch = main
[maintenance]
	repo = /Users/alistairm/src/packmanager/main
[merge]
	conflictStyle = zdiff3
[scalar]
	repo = /Users/alistairm/src/packmanager/main
[rebase]
	autosquash = true
	autoStash = true
	updateRefs = true
[git-mob-config]
	github-fetch = false
[rerere]
	enabled = true
	autoUpdate = true
[safe]
	directory = /usr/src/app
