[alias]
  ignore = update-index --assume-unchanged
  unignore = update-index --no-assume-unchanged
  ignored = !git ls-files -v | grep "^[[:lower:]]"
[user]
	name = Alistair McKinnell
  useconfigonly = true
	email = alistair.mckinnell@gmail.com
[push]
	default = simple
[core]
  excludesfile = ~/.gitignore_global
  autocrlf = input
	commentchar = $
[remote "origin"]
	push = HEAD
[branch]
	autosetupmerge = true
[diff]
  compactionheuristic = true
[color]
	branch = auto
	diff = auto
	ui = true
[fetch]
	prune = true
[credential]
	helper = osxkeychain
